.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar-tab{
  list-style-type: none;
  display: inline;
  margin: 2rem;
  

}

.home-body{
  display:flex;
  justify-content: center;
}

.navbar{
background-color: #028d53;
padding: 1rem;
color: whitesmoke;
}

.primary-heading{
  margin: 0rem;
  color: whitesmoke;
}
.secondary-heading{
  margin:1rem;
  color: whitesmoke;
}

.navbar-tab-active{
  list-style-type: none;
  display: inline;
  margin: 2rem;
color:aquamarine
}


.navbar-tab:hover{
color:#61dafb;
cursor: pointer;
}

.page-class{
  background-color: red;
  padding: 6rem;
}

.head-and-body {
  padding: 0rem 0rem 0rem 0rem;
}

.header-titles{
  display: flex;
  justify-content:left;

}

.rendered-page{
  padding: 1rem;
  background-color: whitesmoke;
  height:100%
  
}

.homepage-btn{
  margin: 0rem 1rem;
}

.footer {
  display: flex;
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
  padding: 1rem 0rem 0rem 0rem;
  justify-content: center;

}

.single-station-data{
display: flex
}

.stationSearchEl{
  width: 60%;
  margin: 2rem;
  padding: 1rem;

}

.user-sidebar-body{
  width: 30%;
  margin: 2rem;
  padding: 1rem;
  
}

.user-profile{
  width: 60%;
  margin: 2rem;
  padding: 1rem;
}


.station-street-address{
  line-height: 0.8;

}

.post-page-input-fields{
  display: flex;
  flex-direction: column;
}

.navbar-li{
  list-style: none;

}

.navbar-span{
  color: whitesmoke;
  
}